doctype html
html(lang='en')
  head
    block title
    meta(charset='UTF-8')
    link(href='//fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='//use.fontawesome.com/releases/v5.0.13/css/all.css', rel='stylesheet')

  body
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Bastien Wirtz
        p.eyecatch-subtitle Software Engineer
        p.eyecatch-description
          | I'm a full stack web engineer with a strong devops culture. I love building things from A to Z, understanding and mastering all the components of a stack.
          | My adventures in Genymobile lead me to the position of technical leader which make me involved in many exciting topics like software architecture, software quality, industrialization, recruiting new talents...

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content English, French
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +1 (415) 967 8776
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email bastien.wirtz@gmail.com
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content San Francisco, USA
            p.contact-heading Location

      .row.u-doc-container
        .eight.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization Genymobile
              span.u-each-period Technical leader
            p.u-each-subtitle 2016.01 - Present (San Francisco, USA).
            p.work-each-description
              | Lead of the Cloud team, I work on the systems used to run & manage Android emulators online.
              | Genymotion Cloud is the SAAS declinaison of the Genymotion desktop emulator.
              ul
                li Design and build the microservices & REST APIs managing the online emulators.
                li Work on the public & admin webapps (AnguarJS & VueJS)
                li Build a new infrastructure, setup deployment scripts, health monitoring & incident analysis tools to run the microservices.
                li Interview and hire people to grow the team.

          .work-each
            p.u-each-title
              span.u-each-organization Genymobile
              span.u-each-period Web Software Engineer
            p.u-each-subtitle 2012.04 - 2015.12 (Paris, France).
            p.work-each-description
              | Genymobile provide tools to help people create better android apps, among others the Genymotion Android Emulator.
              | I was hired to build a small team to take care of the company growing needs in web development.
              ul
                li Migrated the ecommerce tool (prestashop) to an API based ecommerce system.
                li Built the new company website based on AngularJS (previously based on Wordpress).
                li Maintained and improved the Genymotion Desktop license server, build in Python/Django.
                li Infrastructure management: Servers setup and application deployment.

          .work-each
            p.u-each-title
              span.u-each-organization Linagora
              span.u-each-period Full stack web developer
            p.u-each-subtitle 2011.01 - 2012.02 (Paris, France).
            p.work-each-description
              | Linagora is an IT services company specialized in open source providing solutions for enterprise collaboration: LinShare, OpenPaaS, LinID....
              ul
                li Worked on large drupal codebase with high traffic concerns (news websites).
                li Migrated the manual release process to an automated system.
                li Implemented oauth support to the centralized authentication system.
                li Migrated drupal sites to a brand new Symfony
                li PHP beginner and PHP Advanced training to 15+ persons classes.

          .work-each
            p.u-each-title
              span.u-each-organization Rectorat
              span.u-each-period PHP developer
            p.u-each-subtitle 2008.09 - 2010.12 (Dijon, France).
            p.work-each-description
              | The rectorat is an institution in charge of the scholar system organization.
              | I was hired to create a webapp for school class planning, distribution and capacity management.
              ul
                li Analyzed current solution, mainly based on spreadsheets to design application features.
                li Built the webapp to replace the spreadsheet system.

        .four.columns
          .education
            h2.u-section-title Development Skills
            ul
              li Python (4 years)
              li Django Flask (4 years)
              li Modern javascript (4 years)
              li NodeJS (3 years)
              li PHP (11 years)
              li Symfony (6 years)
              li HTML, CSS (11 years)
              li Linux (11 years)
              li Ansible (4 years)
              li Docker (4 year)

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization University of burgundy
              span.u-each-period 2008
            p.u-each-subtitle Bachelor's Degree in computer science

            .education-each
              span.u-each-organization University of burgundy
              span.u-each-period 2007
            p.u-each-subtitle 2 years university degree in computer science

          .education
            h2.u-section-title Volunteer experience
            ul
              li
                span.oss-title Pop In The City (2014 - 2015)
                p https://www.popinthecity.com/en/
                p Helping Popin contestants to get through their challenges!
              li
                span.oss-title Ubuntu Dijon (2008 - 2011)
                p http://www.ubuntu-dijon.org/
                p Ubuntu & open source popularization through various events as a board member of the Ubuntu-Dijon nonprofit organization.



          .education
            h2.u-section-title Profile Links
            ul.social-links
              li.github https://github.com/bastienwirtz
              li.twitter https://twitter.com/babooon
              li.linkedin https://www.linkedin.com/in/bastien-wirtz

    script(src='/bundle.js')
